#navigation a {outline : none;}
#navigation a img {outline : none;}
#navigation img {border : 0;}

#navigation {
    position: fixed;
    top: 0px;
    right: 50px;
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
    background-color: #D0CA39;
    height: 35px;
    width: 40px;
    border-radius: 0px 0px 5px 5px;
}
#navi_inner {
    position: fixed;
    top: -85px;
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
    background-color: #D0CA39;
    height: 85px;
    width: 40px;
}
#navi_inner img:hover {
   -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
#navi_inner a {
}
#nani_icon img {
    height: 27px;
    width: 287x;
    margin: 2px 0px 0px 7px;
}
#navi_logout img {
    height: 28px;
    width: 28px;
    margin: 3px 0px 0px 4px;
}
#navi_changepwd img {
    height: 35px;
    width: 35px;
    margin: 5px 0px 0px 3px;
    border-style: none;
    border: 0;
}
#navigation:hover {
    top: 85px;
}
#navigation:hover #navi_inner {
    top: 0px;
}